html {
	position: relative;
	min-height: 100%;
}

body {
	margin-bottom: 45px;
}

.logo {
	margin-right: 5px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 45px;
  background-color: #e7e7e7;
}

.footer-text {
	margin: 12px 0;
}

.map {
	height: 600px;
        margin-top: 5px;
        margin-bottom: 5px;
     
}

.map-controls {
        padding: 10px;
}

.map-controls-square-feet {
	width: 200px;
}

.map-controls-search {
	width: 400px;
}

.tooltip-button {
	display: inline-block;
}

.table-hover>tbody>tr:hover>td, .table-hover>tbody>tr:hover>th {
	background-color: #CCCCCC;
	color:#333333;
}

.contributor img {
	width: 230px;
}
