<div class="row">
	<div class="page-header">
		<h1 id="typography">News</h1>
	</div>
</div>


<div class="row">
	<h2>Public Launch</h2>
	<p>
		11/13/2015
	</p>

	<p>
		<a href="/">Tiny.House</a> Would like to thank you for stopping by for our offical launch. Our mission 
		is covvered on the <a href="/about">about</a> page. 
	</p>

	<p>
		Keep an eye out for the following functionality in the future:
		<ul>
			<li>List of community groups around the world</li>
			<li>Calendar of events around the world</li>
			<li>Chat</li>
			<li>Map of where you can live in a tiny house</li>
			<li>Blog of projects around the world</li>
		</ul>
	</p>

	<p>
		-TinyJ
	</p>
</div>
