<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title>Tiny.House</title>

		<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
		<link href="//netdna.bootstrapcdn.com/bootswatch/3.1.1/yeti/bootstrap.min.css" rel="stylesheet">
		<link href="<% request.base %>css/bootstrapValidator.min.css" rel="stylesheet">
		<link href="<% request.base %>css/tiny.house.css" rel="stylesheet">
	</head>
	<body>
		<div class="navbar navbar-default">
			<div class="container">
				<div class="navbar-header">
					<a class="navbar-brand" href="#"><span class="logo glyphicon glyphicon-home"></span>Tiny.House</a>
				</div>
				<div class="navbar-collapse collapse navbar-responsive-collapse">
					<ul class="nav navbar-nav">
						<li><a href="#">News</a></li>
						<li class="dropdown active">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">Resources <b class="caret"></b></a>
							<ul class="dropdown-menu">
								<li><a href="#">House</a></li>
								<li class="active"><a href="#">Land</a></li>
								<li><a href="#">Finances</a></li>
								<li><a href="#">"Stuff"</a></li>
							</ul>
						</li>

						<li><a href="#">About</a></li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
						<li><a href="#" data-toggle="modal" data-target="#loginModal">Login</a></li>
						<li><a href="#" data-toggle="modal" data-target="#registerModal">Register</a></li>
						<li><a href="#" data-toggle="modal" data-target="#contactModal">Contact</a></li>
					</ul>
				</div>
			</div>
		</div>

		<div class="container">
			<div class="row" id="status">
				<div class="alert alert-dismissable alert-success hide" id="success-alert">
					<span id="success-message"></span>
					<button type="button" class="close" data-dismiss="alert">×</button>
				</div>
			</div>
			<% content %>
		</div>

                <% INCLUDE registerModal.tt %>
                <% INCLUDE loginModal.tt %>
                <% INCLUDE contactModal.tt %>
                <% INCLUDE changePasswordModal.tt %>

		<!-- Grab Google CDN's jQuery. fall back to local if necessary -->
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
		<script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
		<script src="<% request.base %>javascripts/bootstrapValidator.min.js"></script>
		<script src="<% request.base %>javascripts/tiny.house.js"></script>
	</body>
</html>
