<iframe width="500" height="300" scrolling="no" frameborder="no" src="https://www.google.com/fusiontables/embedviz?q=select+col1+from+1QP6Qguw_WYvDFrgfafgDKtSRHW04OJrAy9MdPIw&amp;viz=MAP&amp;h=false&amp;lat=44.95606069020756&amp;lng=-93.06751901005208&amp;t=1&amp;z=8&amp;l=col1&amp;y=2&amp;tmplt=2&amp;hml=KML"></iframe>
