.logo {
	margin-right: 5px;
}

.map {
	height: 600px;
        margin-top: 5px;
        margin-bottom: 5px;
     
}

.map-controls {
        padding: 10px;
}

.map-controls-square-feet {
	width: 200px;
}

.map-controls-search {
	width: 400px;
}

.tooltip-button {
	display: inline-block;
}

.table-hover>tbody>tr:hover>td, .table-hover>tbody>tr:hover>th {
  background-color: #CCCCCC;
  color:#333333;
}
